extends layouts/main.pug

block hero
  img.header__hero(src="https://cdn.stocksnap.io/img-thumbs/960w/marsh-field_LQCNP30RBB.jpg", alt="")
  .header__main
    img.profile__img(src="https://cdn.stocksnap.io/img-thumbs/280h/smiling-woman_KXLPITBRGU.jpg", alt="")
    .profile__info
      h3.profile__name Daniel Jensen
      .profile__metric
        span.number 2.569
        span.title Following
      .profile__metric
        span.number 10.8k
        span.title Followers
      p.profile__description Photographer & Filmmaker based in Copenhagen, Denmark ✵ 🇩🇰
    button.button Follow
