block header
  .modal.micromodal-slide(aria-hidden='true' id=modalId)
    div(class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center z-10 bg-black bg-opacity-60" tabindex='-1' data-micromodal-close='')
      form(action=action method="POST" class="bg-white w-[600px] h-[650px] min-w-[600px] max-h-[90vh] max-w-[80vw] min-h-[400px] rounded-lg overflow-y-auto" role='dialog' aria-modal='true' aria-labelledby='modal-1-title' encType='multipart/form-data')
        header(class="flex items-center px-4 py-3")
          button(class="p-2 transition-all rounded-full hover:bg-gray-200 mr-6" aria-label='Close modal' data-micromodal-close='')
            +Close
          h2#modal-1-title(class="mt-0 mb-0 font-semibold text-xl")=modalTitle
        main#modal-1-content
          block content
