#modal-1.modal.micromodal-slide(aria-hidden='true')
  div(class="fixed top-0 left-0 right-0 bottom-0 flex justify-center items-center z-10 bg-black bg-opacity-60" tabindex='-1' data-micromodal-close='')
    form(method="POST" action="/profile/edit" class="bg-white w-[600px] h-[650px] min-w-[600px] max-h-[90vh] max-w-[80vw] min-h-[400px] rounded-lg overflow-y-auto" role='dialog' aria-modal='true' aria-labelledby='modal-1-title' encType='multipart/form-data')
      header(class="flex items-center px-4 py-3")
        button(class="p-2 transition-all rounded-full hover:bg-gray-200 mr-6" aria-label='Close modal' data-micromodal-close='')
          +Close
        if itsMe
          h2#modal-1-title(class="mt-0 mb-0 font-semibold text-xl") Edit profile
        else
          h2(class="mt-0 mb-0 font-semibold text-xl bg-black") Follow
        button(type="submit" class="ml-auto bg-black text-white rounded-full py-2 text-sm font-bold px-4") Save
      main#modal-1-content(method="POST" action="/profile/edit")
        div(class="max-h-52 h-52 w-full bg-gray-400")
        div(class="w-36 h-36 -mt-[15%] overflow-hidden rounded-full relative")
          if user.profile.picture
            img(class="w-full h-full object-cover" src=`/public/upload/temp/${user.profile.picture}` alt="")
          else
            img(class="w-full h-full object-cover" src="https://pbs.twimg.com/profile_banners/106276044/1497628279/600x200" alt="")
          label(for="profile-upload" class="absolute h-full w-full top-0 left-0 opacity-30 bg-black cursor-pointer")
          input(type="file" name="profile-upload" class="opacity-0" id="profile-upload")
        div
          input(type="text" class="w-full border-2 border-gray-300 rounded-lg px-4 py-2" placeholder="Name")
          input(type="text" class="w-full border-2 border-gray-300 rounded-lg px-4 py-2" placeholder="Bio")
