extends layout.pug

block prepend header
  -var modalTitle = "Access to your account"
  -var modalId = "modal-2"
  -var action = "/signin"

block content
  div
    input(type="email" name="email" placeholder="Email" class="w-full border-2 border-gray-300 rounded-lg px-4 py-2")
    input(type="password" name="password" placeholder="Password" class="w-full border-2 border-gray-300 rounded-lg px-4 py-2")
    button.button__primary Login
