.box {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 12px;
  margin: 0 auto;
}

.profile {
  grid-column: 1 / last-line;
  &__field {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #bdbdbd;
  }
  &__content {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
  }
  &__header {
    text-align: center;
    .h2 {
      margin: 0;
    }
  }
  &__body {
    border-spacing: 0;
    border-collapse: separate;
    margin: 0 auto;
    text-align: left;
    img {
      width: 72px;
      height: 72px;
      object-fit: cover;
      border-radius: 0.5rem;
    }
    th {
      border-left: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      padding-top: 1.75rem;
      padding-bottom: 1.75rem;
    }
    td {
      border-left: 1px solid #e0e0e0;
      border-top: 1px solid #e0e0e0;
      padding: 24px 0px;
    }
    tr th:first-child {
      padding-left: 50px;
    }
    tr th:last-child {
      padding-right: 50px;
    }
    tr td:first-child {
      padding-left: 50px;
    }
    tr td:last-child {
      border-right: 1px solid #e0e0e0;
      border-left: 1px solid transparent;
      padding-right: 50px;
    }
    tr:last-child td {
      border-bottom: 1px solid #e0e0e0;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }
    tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
      border-right: 1px solid #e0e0e0;
    }
    tr:first-child th:first-child {
      border-top-left-radius: 10px;
    }
    tr:first-child th:last-child {
      border-top-right-radius: 10px;
      border-right: 1px solid #e0e0e0;
      border-left: 1px solid transparent;
      text-align: end;
    }
  }
}
