.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  cursor: pointer;
  user-select: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #2f80ed;
  margin-left: 8px;
}

/*style the items (options), including the selected item:*/
.select-items div {
  color: #4f4f4f;
  padding: 10px 12px;
  cursor: pointer;
  user-select: none;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  top: calc(100% + 11px);
  left: 0;
  right: 0;
  z-index: 99;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 12px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
