@import "select";
@import "sign";

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafb;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.header {
  grid-column: 1 / last-line;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: white;
  margin-bottom: 24px;
  &__profile {
    display: flex;
    align-items: center;
  }
  &__logo {
    object-fit: contain;
    width: 100px;
  }
  &__links {
    display: flex;
    height: 100%;
  }
  &__link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 68px;
    letter-spacing: -0.035em;
    text-decoration: none;
    color: #828282;
    margin-left: 4rem;
    align-items: center;
    &--active {
      color: #2f80ed;
      border-bottom: 2px solid #2f80ed;
    }
  }
}

.header__hero {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.profile {
  &__name {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.035em;
  }
  &__image {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
    margin: 0px 1rem 0px 0px;
  }
  &__img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 4px;
  }
}

.header__main {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  position: relative;
  top: -100px;
  width: 1073px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  .profile__info {
    flex-grow: 1;
  }
  .profile__img {
    width: 152px;
    height: 152px;
    border-radius: 8px;
    object-fit: cover;
    position: relative;
    top: -60px;
    border: 4px solid white;
  }
  .profile__name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #333333;
    display: inline-block;
  }
  .profile__metric {
    display: inline-block;
    .number {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.035em;
      color: #333333;
      margin-right: 4px;
      margin-left: 24px;
    }
    .title {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.035em;
      color: #828282;
    }
  }
  .profile__description {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.035em;
    color: #828282;
    max-width: 427px;
  }
}

.button {
  border-radius: 4px;
  background: #2f80ed;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.035em;
  color: white;
  border: none;
  align-self: center;
  cursor: pointer;
  padding: 8px;
}

.aside {
  grid-column: 10 / 12;
}

.card {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 10px 20px;
  &:first-child {
    grid-column: 1 / 10;
  }
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    border-bottom: 2px solid #e0e0e0;
    margin-top: 0;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  &__content {
    display: flex;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  .footer__file {
    display: none;
  }
  .content__img {
    border-radius: 8px;
    object-fit: cover;
    width: 40px;
    height: 40px;
    margin-right: 12px;
  }
  .content__txt {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
  }
}

.main {
  grid-column: 2 / 10;
}

.button-primary {
  background: #2f80ed;
  border-radius: 4px;
  border: none;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  padding: 8px 24px;
}

.icon {
  fill: #2f80ed;
  width: 20px;
  height: 20px;
}

.dropdown {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  &.open {
    .dropdown__menu {
      display: block;
    }
  }
  &-toggle {
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #2f80ed;
    margin-left: 8px;
  }
  &__menu {
    position: absolute;
    top: calc(100% + 10px);
    display: none;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 12px;
    width: 234px;
  }
  .menu__item {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #4f4f4f;
    cursor: pointer;
    border-radius: 8px;
    svg {
      margin-right: 4px;
    }
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .menu__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #4f4f4f;
    margin: 0;
  }
  .menu__desc {
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #828282;
    margin: 0 0 16px 0;
  }
}

.feed {
  grid-column: 2 / 10;
}

.tweet {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  &__header {
    display: flex;
    .profile__image {
      width: 40px;
      height: 40px;
      border-radius: 4px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .profile__date {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #BDBDBD;
      margin: 0px;
    }
    .profile__name {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin: 0px;
    }
  }
  &__body {
    .content {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #4F4F4F;
    }
  }
  &__image {
    width: 100%;
    border-radius: 8px;
  }
  &__footer {
  }
  &__statistics {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 0rem;
    .statistic {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #BDBDBD;
      text-decoration: none;
      margin-right: 1rem;
      transition: .2s color ease-in-out;
      &:hover {
        color: darken(#BDBDBD, 10%)
      }
    }
  }
  &__actions {
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 5px 0px;
    margin-bottom: .5rem;
    .action {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      display: flex;
      justify-content: center;
      line-height: 19px;
      border: none;
      border-radius: 8px;
      padding: 12px 0px;
      flex-grow: 1;
      background-color: #fff;
      transition: .2s background-color ease-in-out;
      cursor: pointer;
      color: #4F4F4F;
      span {
        display: flex;
        align-content: center;
        i {
          margin-right: .5rem;
        }
      }
      &:hover {
        background-color: #F2F2F2;
      }
    }
  }
  &__reply {
    display: flex;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 5px;
    div {
      display: flex;
      align-items: center;
      background: #FAFAFA;
      border: 1px solid #F2F2F2;
      border-radius: 0.5rem;
      width: 100%;
      height: 40px;
      padding: 0px 12px;
    }
    i {
      color: #BDBDBD;
    }
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    .reply__cover {
      width: 40px;
      height: 40px;
      object-fit: cover;
      margin-right: 1rem;
      border-radius: 0.5rem;
    }
    .reply__textbox {
      border: none;
      resize: none;
      width: 100%;
      height: 100%;
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      outline: none;
      background-color: transparent;
    }
  }
  &__comments {
    .comment {
      padding-top: 1.25rem;
      display: flex;
    }
    .comments__cover {
      width: 40px;
      height: 40px;
      object-fit: cover;
      margin-right: 1rem;
      border-radius: 0.5rem;
    }
    .comments__single {
    width: 100%;
    }

    .comments__wrapper {
      background: #FAFAFA;
      border-radius: 8px;
      padding: 8px 16px;
    }
    .comments__author {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      margin-right: .5rem;
    }
    .comments__date {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #BDBDBD;
    }
    .comments__content {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #4F4F4F;
    }
    .comments__actions {
      display: flex;
      align-items: center;
      button {
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-family: "Noto Sans", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #BDBDBD;
        background-color: white;
        transition: .2s background-color ease-in-out;
        i {
          font-size: 1rem;
        }
        &:hover {
          background-color: #F2F2F2;
        }
      }
    }
  }
}
