extends ../layouts/sign.pug

block content
  .sign
    img(class="logo" src="/public/img/logo.svg", alt="")
    h4.h4 Login
    form(action="/signin" method="POST")
      .field
        i.material-icons email
        input(type="email" name="email" placeholder="Email")
      .field
        i.material-icons lock
        input(type="password" name="password" placeholder="Password")
      button.button__primary Login
    p.sign__other or continue with these social profile
    .sign__logos
      a(href='/google' title='google')
        i.fab.fa-google
      a(href='http://facebook.com/' title='Google')
        i.fab.fa-facebook-square
      a(href='http://facebook.com/' title='Twitter')
        i.fab.fa-twitter
      a(href='http://facebook.com/' title='Github')
        i.fab.fa-github
    p.sign__login Don't have an account yet?
      a(href="/signup") Register
